@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
  --background: #FAF9F6;
  --foreground: #171717; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.cute-text {
  @apply text-cyan-700 text-2xl;
  font-family: 'Dancing Script', cursive;
  -webkit-font-smoothing: antialiased; /* helps Safari render more cleanly */
}
